
/* Connections */
@import url("./nullstyle.css");

/*	Fonts */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* ==================== Global style ====================== */

:root {
  --shoulders: 'Big Shoulders Display', sans-serif;
  --lexend: 'Lexend Deca', sans-serif;
  --light-gray: hsl(0, 0%, 95%);            /*background, headings, buttons*/
  --transparent:  hsla(0, 0%, 100%, 0.75);  /*paragraphs*/
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --black: #000000;
  font-family: var(--lexend);
  font-weight: 400;
  font-size: 10px;
  background-color: var(--light-gray);
  color: var(--transparent);
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

/* ==================== main ====================== */

.main {
  display: flex;
  position: relative;
  max-width: 91.4rem;
  min-height: 50rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 4.8rem;
}

.card:nth-child(1) {
  background-color: var(--bright-orange);
  border-radius: 1rem 0 0 1rem;
}
.card:nth-child(2) {
  background-color: var(--dark-cyan);
}
.card:nth-child(3) {
  background-color: var(--very-dark-cyan);
  border-radius: 0 1rem 1rem 0;
}

.card__logo {
  width: 6.5rem;
}

.card__title {
  text-transform: uppercase;
  font-size: 4rem;
  font-family: var(--shoulders);
  font-weight: 700;
  margin-top: 0.9rem;
  color: var(--light-gray);
}

.card__description {
  line-height: 1.7;
}

.card__btn {
  background-color: var(--light-gray);
  width: 14.5rem;
  padding: 1.4rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px var(--transparent) solid; 
  margin-top: 5rem;
}

.btn-orange {
  color: var(--bright-orange);
}
.btn-darc-cyan {
  color: var(--dark-cyan);
}
.btn-very-dark-cyan {
  color: var(--very-dark-cyan);
}

.card__btn:hover {
  background: none;
  color: var(--transparent);
}

/* ==================== footer ====================== */

.attribution {
  line-height: 1.5;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform:translate(-50%, -50%);
}

.attribution__items {
  color: var(--black);
}

.attribution__items > a {
  color: #3e52a3; 
}

/* ==================== Responsive ====================== */

@media (max-width: 962px) {
  .main {
    display: block;
    max-width: 30.7rem;
  }

  .wrapper {
    overflow: inherit;
    height: auto;
    padding: 1rem 0;
  }

  .card {
    min-height: inherit;
  }

  .card:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  .card:nth-child(3) {
    border-radius: 0 0 1rem 1rem;
  }

  .attribution {
    bottom: -5.5rem;
    text-align: center;
  }

}
